.event-detail-container{
  max-width: 800px;
  margin: 2rem auto;
  padding: 20px;
  background-color: whitesmoke;
  border-radius: 8px;
  background-origin: 0 2px 4px blue;
}

.event-title{
  color: gray;
  background-color: aqua;
  padding: 10px;
  border-radius: 4px;
}

.event-content{
  max-width: 20px 0;
  line-height: 1.6
}


.event-info{
  display: flex;
  justify-content: space-between;
  background-color: orange;
}



.event-info .event-dates, .event-info, .event-creator{
  margin: 0px;
}

.event-timestamps{
  font-size: 1rem;
  color: gray;
  margin-top: 10px;


}


.event-timestamps span{
  display: block;
  margin: 5px 0;
}


.event-image img{
  width: 100%;
}


.guests-container{
display: flex;
flex-wrap: wrap;
gap: 10px;
padding: 10px;
}


.guest-item{
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 100px;

}
